<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Inicio Sesión</title>
    {% load staticfiles %}
    <link href="{% static 'sas/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'sas/css/style.css' %}" rel="stylesheet" type="text/css" >
</head>
<body>
	<div class="container-fluid header">
	      <div class="row">
	          <div class="col-xs-12 ">
                <img src="{% static 'sas/img/logo-asodi.png' %}" alt="logo-asodi" class="img-responsive img-thumbnail">
				        <h1>Inicio Sesión</h1>
	          </div>
	      </div>
	</div>
	<div class="container">
      <div class="row">
      		<div class="col-xs-12">
	      		{% if form.non_field_errors %}
				    <ul class='form-errors'>
				        {% for error in form.non_field_errors %}
				            <li class="text-danger medium">{{ error }}</li>
				        {% endfor %}
				    </ul>
				    <label class="control-label" for="inputError1">{{ error }}</label>
				{% endif %}
				<form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{% include 'sas/form-template.html' %}
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success">Aceptar</button>
						</div>
					</div>

				</form>
					

      		</div>
      	</div>
      </div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'sas/js/bootstrap.min.js' %}"></script>
</body>
</html>