{% extends "sas/base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
	 <div class="container">
      <div class="row">

      		<div class="col-xs-12">
	      		<h1>Bienvenido <small>{{ user.first_name }} {{ user.last_name }}</small></h1>
	      		<br>
				<br>
				<br>
				<br>

				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<img src="http://www.lorempixel.com/300/300" alt=""  class="img-responsive">
				<br>
				<br>
      		</div>
      	</div>
      </div>	
	
{% endblock %}