{% extends "sas/base.html" %}
{% block title %} Prohibido {% endblock %}
{% block content %}
	 <div class="container">
      <div class="row">

      		<div class="col-xs-12 ">
	      		<h2>Hola {{ user.first_name }} {{ user.last_name }} </h2>
	      		<h3>Lamentablemente usted no tiene permisos para acceder a esta página.</h3>
	      		<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
      		</div>
      	</div>
      </div>	
	
{% endblock %}