{% extends "sas/base.html" %}
{% block title %} Detalle Socios {% endblock %}
{% block content %}
{% load bootstrap %}
	<div class="container">
      <div class="row">

			{% if messages %}
				<ul class="messages list-group">
				    {% for message in messages %}
				    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}

			<h1>Socio <small>{{socio.nom_socio}} {{socio.apel_pat_socio}}</small></h1> 
			<fieldset disabled>
				<form action="" method="POST" class="form-horizontal">
					{% csrf_token %}
					{{ form|bootstrap_horizontal:'col-lg-2' }}
				</form>
			</fieldset>
      </div>
    </div>
      
  


	
{% endblock %}