{% extends "sas/base.html" %}
{% block title %} Socio {% endblock %}
{% block content %}
	 <div class="container">
      <div class="row">
			<h1>Socio</h1>
					<p>socio id: {{socio.id_socios}}</p>					
					<p>{{socio.rut_socios}}</p>
					<p>{{socio.id_socios }}</p>
				    <p>{{socio.cod_socios}} </p>
				    <p>{{socio.rut_socios }}</p>
				    <p>{{socio.sexo_socios}}</p>
				    <p>{{socio.nom_socios }}</p>
				    <p>{{socio.apel_pat_socios}}</p>
				    <p>{{socio.apel_mat_socios }}</p>
				    <p>{{socio.dir_socios }}</p>
				    <p>{{socio.email_socios}}</p>
				    <p>{{socio.telef_socios }}</p>
				    <p>{{socio.cel_socios}}</p>
				    <p>{{socio.fech_nac_socios}}</p>
				    <p>{{socio.foto_socios}}</p>
				    <p>{{socio.region_numero }}</p>
				    <p>{{socio.comuna_numero}}</p>
				    <p>{{socio.fech_ing_socios }}</p>
				    <p>{{socio.id_estado}}</p>
				    <p>{{socio.id_est_civil }}</p>
				    <p>{{socio.id_profesion }}</p>
				    <p>{{socio.id_salud }}</p>
				    <p>{{socio.id_ctro_salud }}</p>
				    <p>{{socio.id_prev }}</p>
				    <p>{{socio.id_perf}}</p>
				    <p>{{socio.id_patologia }}</p>
				    <p>{{socio.id_apoderado }}</p>
				    <p>{{socio.id_tipo_paciente }}</p>
				    <p>{{socio.fech_actu}} </p>
				    <p>{{socio.log_usuario }}</p>
				    <p>{{socio.ciudad_numero }}</p>
				    <p>{{socio.fech_defun }}</p>
      		<br>
      		<h1>Apoderado</h1>

      	</div>
      </div>	
	
{% endblock %}